#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title {
  font-size: 50px;
  font-family: raleway, sans-serif;
  font-weight: bold;
  margin-top: 75px;
  text-align: center;
}

#sub-title {
  font-size: 19px;
  font-weight: bold;
  letter-spacing: normal;
  font-family: raleway, sans-serif;
  line-height: 1.8em;
  text-align: center;
}

#face-logo {
  margin-top: 50px;
  height: 375px;
  width: 375px;
}

#sde-photo {
  width: 900px;
  height: 600px;
  margin-top: 75px;
  margin-bottom: -0.01rem;
}
